{{- $id := "" -}}
{{- $title := "YouTube video player" -}}
{{- $caption := "" -}}
{{- if .IsNamedParams -}}
  {{- $id = .Get "id" -}}
  {{- $title = .Get "title" | default $title -}}
  {{- $caption = .Get "caption" -}}
{{- else -}}
  {{- $id = .Get 0 -}}
  {{- if eq (len .Params) 2 -}}
    {{- $caption = .Get 1 -}}
    {{- $title = .Get 1 -}}
  {{- else if ge (len .Params) 3 -}}
    {{- $title = .Get 1 -}}
    {{- $caption = .Get 2 -}}
  {{- end -}}
{{- end -}}
{{- if $id -}}
<figure class="post-figure youtube-figure">
  <div class="youtube-wrapper">
    <iframe
      class="youtube-player"
      src="https://www.youtube-nocookie.com/embed/{{ $id }}"
      title="{{ $title }}"
      loading="lazy"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
      referrerpolicy="strict-origin-when-cross-origin"></iframe>
  </div>
  {{- with $caption }}
  <figcaption class="image-caption">{{ . | safeHTML }}</figcaption>
  {{- end }}
</figure>
{{- end -}}
